/* Menu & About Section*/
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: black;
    text-shadow: 0.2rem 0.2rem #bdbdbd;
}

#home {
    height: 45vh;
    width: 100%;
}

#home p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
  overflow: hidden;
  color: #ffffff;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 2.25rem;
  text-align: center;
  padding: 10vh 4.3rem;
  text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  

  /* Gallery */
#content {
  height: 118vh;
  width: 160vh;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: -3rem auto;
}

.flexbox-item {
  width: 10.5rem;
  height: 17.5rem;
  border: 0.4rem solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)
}

.flexbox-item img{
  object-fit: cover;
  width: 175%;
}
  

/* Contact Form */  
  #contact {
    height: 100vh;
    width: 100%;
}

#contact h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #000000;
    margin: 3.75rem 0rem 0rem 0rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;  
    border: 0.1rem solid #ccc; 
    border-radius: 0.3rem; 
    box-sizing: border-box; 
    margin-top: 0.5rem; 
    margin-bottom: 1.5rem;    
    resize: vertical 
}

input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
  

input[type=submit]:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #000000;
}

/* Tablet - Portrait Mode */

@media screen and (min-width: 768px) {

  li a {
      width: auto;
      padding: 2vh 2rem;
      font-size: 1.5rem;
  }
  
  #home {
      width: auto;
      height: 28rem;
  }

  #home p {
      font-size: 0.9rem;
  }

  h1 {
      font-size: 3rem;
  }

  /* Gallery - Tablet */
  #content {
    height: 85vh;
    width: auto;
  }

  .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
  margin: -3rem auto;
  }

  .flexbox-item {
  width: 10.5rem;
  height: 17.5rem;
  border: 0.4rem solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)
  }

  .flexbox-item img{
  object-fit: cover;
  width: 175%;
  }
}